* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
    user-select: none;
    -webkit-user-drag: none ;
}
nav{
    padding: 10px 20px;
    margin: 0 10px 0 10px;
    background-color: #1C1C1C;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    z-index: 1000;
    justify-content: space-between;
    vertical-align: middle;
    position: fixed;
    top: 0;
    width: 100%;
}
nav img{
    padding-top: 15px;
    height: 5em;
}
/* #container nav span{
    margin: 10px 0 0 5em;
    top: 0;
    background-color: #ff004f;
    padding-bottom: 20px;
    font-size: 5em;
} */
#portimg {
    display: inline-block;
    margin: 0 0 0 15em;
    margin-bottom: 20px;
    height: 4em;
}
nav ul{
    /* float: right; */
    padding-top: 8px;
}
nav ul li{
    float: left;
    padding: 20px 20px;
    list-style: none;
    position: relative;
    /* z-index: 0; */
}
nav ul li a{
    text-decoration: none;
    font-weight: 1000;
    color: #fff;
    font-size: large;
    display: block;
}
nav ul li a:active{
    color: #ff004f;
}
nav ul li::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 0;
    background: linear-gradient(to right, #2abfff, #0071FF);
    /* z-index: 1; */
    border-radius: 2px;
    transition: 150ms ease-in-out;
}
nav ul li:hover::after{
    width: 100%;
}
/* nav ul li::after{
    content: "";
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    z-index: -1;
    background: linear-gradient(180deg, #1C1C1C, #2D2D2D);
    transition: 150ms ease-in-out;
}
nav ul li:hover::after{
    height: 100%; 
}*/
#Header-text{
    margin: 9% 0 0 10px;
    text-align: left;
    font-size: 2.7em;
}
#Header-text span{
    color: #ff004f;
}
#About{
    padding: 5%;
    display: flex;
    img{
        width: 500px;
        border-radius: 50%;
    }
}
#About-content{
    text-align: center;
    margin-top: 3%;
    padding: 7em 0 8em 5em;
    h2{
        font-size: 2.5rem;
        font-weight: bold;
        text-decoration: underline #ff004f;
        margin: 0 0 20px 0;
    }
    h2::first-letter{
        color: #ff004f;
        font-size: 2.5rem;
    }
    p{
        background-color: #3C3C3C;
        padding: 3% 3% 2% 3%;
        border-radius: 25px;
    }
}
#About-content p:hover{
    border: 2px solid #ff004f;
    transition: border-color 1s ease;/* transition: border 0.125s; */
}
#project-content #project-p{
    font-size: 5rem;
    margin-left: 1%;
}
#project-content{

    #project-p::first-letter{
    color: #ff004f;
    }
}
#project{
    display: block;
}
.projects{
    display: inline-block;
    border-radius: 15px;
    background-color: #3C3C3C;
    width: 25%;
    margin: 3%;
    z-index: 1;
    text-align: justify;
    padding: 0.5% 1% 1% 1%;
    h2{
        text-decoration: underline;
    }
    a{
        color: #fff;
        text-decoration: none;
    }
}
.projects:hover{
    transform: scale(1.1);
    background: linear-gradient(180deg, #FF004F, #ff004f);;
    color: #080808;
    transition: 0.6s ease-out;
}
#Skill-content{
    margin-top: 3%;
    #MySkill{
    font-size: 5rem;
    margin-left: 1%;
    }
    #MySkill::first-letter{
        color: #ff004f;
    }
}
#Skill{
    display: block;
    div{
        display: inline-block;
        background: linear-gradient(180deg, #3C3C3C, #1C1C1C);
        width: 25%;
        margin: 3%;
        text-align: center;
        border-radius: 15px;
    img{
        height: 301px;
        width: fit-content;
     }
    } 
}
/* #Skill #img1::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    z-index: 1;
    border-radius: 15px;
    background: linear-gradient(180deg, #2abfff, #0071FF);
    opacity: 0.7;
    transition: 150ms ease-in-out;
}
#Skill #img1:hover::after{
    height: 100%;
}
#Skill #img1:hover{
    transform: scale(1.1);
    transition: 150ms ease-out;
}
#Skill #img2::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    z-index: 1;
    border-radius: 15px;
    background: linear-gradient(180deg, #2abfff, #0071FF);
    opacity: 0.8;
    transition: 150ms ease-in-out;
}
#Skill #img2:hover::after{
    height: 100%;
}
#Skill #img2:hover{
    transform: scale(1.1);
    transition: 150ms ease-out;
}
#Skill #img3::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    z-index: 2;
    border-radius: 15px;
    background: linear-gradient(180deg, #2abfff, #0071FF);
    opacity: 0.8;
    transition: 150ms ease-in-out;
}
#Skill #img3:hover::after{
    height: 100%;
}
#Skill #img3:hover{
    transform: scale(1.1);
    transition: 150ms ease-out;
} */
#Skill-content .img-content{
    margin-top: 30px;
    text-align: center;
    /* display: inline-block; */
    width: 25%;
    margin: 3%;
    border-radius: 15px;
    padding: 0 5px 5px 5px;
    display: none;
    h2{
        padding-bottom: 20px;
        font-size: 2rem;
        text-decoration: underline #ff004f;
    }
}
/* #img1:hover #img-content1{
        display: inline-block;
        background: linear-gradient(270deg, #2abfff, #0071FF);
    transition: display 0.15s;
}
#img2:hover{
    #img-content2{
        display: inline-block;
        background: linear-gradient(270deg, #2abfff, #0071FF);
    transition: display 0.15s;
    }
}
#img3:hover{
    #img-content3{
        display: inline-block;
        background: linear-gradient(270deg, #2abfff, #0071FF);
    transition: display 0.15s;
    }
} */
 #img1{
    background: url(Java.png) no-repeat center fixed;
    background-size: cover;
 }
 #img2{
    background: url(DSA.png) no-repeat center fixed;
    background-size: cover;
 }
 #img3{
    background: url(web\ development.png) no-repeat center fixed;
    background-size: cover;
 }